
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}
body{
  background-color: #F5F1E0;
}
img {
  max-width: 100%;
}
.searchBar{
  margin-top: 74px;
color: black;
margin-left: 37px;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}
.searchArea{

  margin-top: 26px;

}
.container{
  width:80%;
  //text-align: left;
}
.col-md-3{
  width: 150px;
  height: 20%;
  border: 1px solid grey;
  margin: 1%;
//text-overflow: ellipsis;
  padding: 2%;
  background-color: #FFFFFF;

}
.title{
 font-weight: bold;
}
.ingredients{
  line-height: 1;
}
.img{
  //float:right;
}
